pandas>=2.2,<3.0
numpy>=1.26,<3.0
pyarrow>=15.0,<20.0
scipy>=1.13,<2.0
matplotlib>=3.8,<4.0
sqlalchemy>=2.0,<3.0
scikit-learn>=1.5,<2.0

dagster==1.7.10
dagster-webserver==1.7.10
dagster-docker==0.23.10
dagster-postgres==0.23.10
